USE [TaxCalculatorDB]
GO
/****** Object:  Table [dbo].[City]    Script Date: 5/18/2024 10:38:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongestionConfig]    Script Date: 5/18/2024 10:38:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongestionConfig](
	[CityId] [bigint] NULL,
	[MaxAmountPerDay] [int] NULL,
	[SingleChargeRuleMinute] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongestionTax]    Script Date: 5/18/2024 10:38:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongestionTax](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CityId] [bigint] NULL,
	[FromTime] [time](7) NULL,
	[ToTime] [time](7) NULL,
	[Amount] [decimal](16, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OffDates]    Script Date: 5/18/2024 10:38:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OffDates](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CityId] [bigint] NULL,
	[Year] [int] NULL,
	[Month] [int] NULL,
	[Day] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OffDays]    Script Date: 5/18/2024 10:38:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OffDays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityId] [bigint] NULL,
	[Day] [nvarchar](150) NULL,
	[IsWorkingDay] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleTaxInfo]    Script Date: 5/18/2024 10:38:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleTaxInfo](
	[CityId] [bigint] NULL,
	[VehicleId] [int] NULL,
	[IsTaxFree] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleType]    Script Date: 5/18/2024 10:38:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [Name]) VALUES (1, N'Gothenburg')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
INSERT [dbo].[CongestionConfig] ([CityId], [MaxAmountPerDay], [SingleChargeRuleMinute]) VALUES (1, 60, 60)
GO
SET IDENTITY_INSERT [dbo].[CongestionTax] ON 

INSERT [dbo].[CongestionTax] ([Id], [CityId], [FromTime], [ToTime], [Amount]) VALUES (1, 1, CAST(N'06:00:00' AS Time), CAST(N'06:29:00' AS Time), CAST(8.00 AS Decimal(16, 2)))
INSERT [dbo].[CongestionTax] ([Id], [CityId], [FromTime], [ToTime], [Amount]) VALUES (2, 1, CAST(N'06:30:00' AS Time), CAST(N'06:59:00' AS Time), CAST(13.00 AS Decimal(16, 2)))
INSERT [dbo].[CongestionTax] ([Id], [CityId], [FromTime], [ToTime], [Amount]) VALUES (3, 1, CAST(N'07:00:00' AS Time), CAST(N'07:59:00' AS Time), CAST(18.00 AS Decimal(16, 2)))
SET IDENTITY_INSERT [dbo].[CongestionTax] OFF
GO
SET IDENTITY_INSERT [dbo].[OffDates] ON 

INSERT [dbo].[OffDates] ([Id], [CityId], [Year], [Month], [Day]) VALUES (1, 1, 2013, 1, 1)
INSERT [dbo].[OffDates] ([Id], [CityId], [Year], [Month], [Day]) VALUES (2, 1, 2013, 3, 28)
INSERT [dbo].[OffDates] ([Id], [CityId], [Year], [Month], [Day]) VALUES (3, 1, 2013, 3, 29)
SET IDENTITY_INSERT [dbo].[OffDates] OFF
GO
SET IDENTITY_INSERT [dbo].[OffDays] ON 

INSERT [dbo].[OffDays] ([Id], [CityId], [Day], [IsWorkingDay]) VALUES (1, 1, N'Monday', 1)
INSERT [dbo].[OffDays] ([Id], [CityId], [Day], [IsWorkingDay]) VALUES (2, 1, N'Tuesday', 1)
INSERT [dbo].[OffDays] ([Id], [CityId], [Day], [IsWorkingDay]) VALUES (3, 1, N'Wednesday', 1)
SET IDENTITY_INSERT [dbo].[OffDays] OFF
GO
INSERT [dbo].[VehicleTaxInfo] ([CityId], [VehicleId], [IsTaxFree]) VALUES (1, 1, 1)
INSERT [dbo].[VehicleTaxInfo] ([CityId], [VehicleId], [IsTaxFree]) VALUES (1, 2, 1)
INSERT [dbo].[VehicleTaxInfo] ([CityId], [VehicleId], [IsTaxFree]) VALUES (1, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[VehicleType] ON 

INSERT [dbo].[VehicleType] ([Id], [Name]) VALUES (1, N'Emergency')
INSERT [dbo].[VehicleType] ([Id], [Name]) VALUES (2, N'Busses')
INSERT [dbo].[VehicleType] ([Id], [Name]) VALUES (3, N'Diplomat')
SET IDENTITY_INSERT [dbo].[VehicleType] OFF
GO
ALTER TABLE [dbo].[CongestionConfig]  WITH CHECK ADD  CONSTRAINT [FK_City_CongestionConfig] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[CongestionConfig] CHECK CONSTRAINT [FK_City_CongestionConfig]
GO
ALTER TABLE [dbo].[CongestionTax]  WITH CHECK ADD  CONSTRAINT [FK_City_CongestionTax] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[CongestionTax] CHECK CONSTRAINT [FK_City_CongestionTax]
GO
ALTER TABLE [dbo].[OffDates]  WITH CHECK ADD  CONSTRAINT [FK_City_OffDates] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[OffDates] CHECK CONSTRAINT [FK_City_OffDates]
GO
ALTER TABLE [dbo].[OffDays]  WITH CHECK ADD  CONSTRAINT [FK_City_OffDaYs] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[OffDays] CHECK CONSTRAINT [FK_City_OffDaYs]
GO
ALTER TABLE [dbo].[VehicleTaxInfo]  WITH CHECK ADD  CONSTRAINT [FK_City_TaxFreeVehicles] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[VehicleTaxInfo] CHECK CONSTRAINT [FK_City_TaxFreeVehicles]
GO
ALTER TABLE [dbo].[VehicleTaxInfo]  WITH CHECK ADD  CONSTRAINT [FK_City_VehicleType] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[VehicleType] ([Id])
GO
ALTER TABLE [dbo].[VehicleTaxInfo] CHECK CONSTRAINT [FK_City_VehicleType]
GO
